In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
cr7 = pd.read_csv('yds_data.csv')

In [4]:
cr7.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [5]:
cr7.shape

(30697, 28)

In [40]:
cr7.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'knockout_match', 'game_season', 'remaining_sec', 'distance_of_shot',
       'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'team_name',
       'date_of_game', 'home/away', 'shot_id_number', 'lat/lng',
       'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id',
       'remaining_min.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

In [41]:
pd.set_option('display.max_columns', None)

In [42]:
cr7.head()

,match_event_id,location_x,location_y,remaining_min,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,10.0,167.0,72.0,10.0,0.0,0,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,50.608,54.2000,38.0
1,12.0,-157.0,0.0,10.0,0.0,0,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,28.800,22.0000,35.0
2,35.0,-101.0,135.0,7.0,0.0,0,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,Manchester United,2000-10-31,NaN,3,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,0.000,63.7216,54.4
3,43.0,138.0,175.0,6.0,0.0,0,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,122.608,52.0000,42.0
4,155.0,0.0,0.0,NaN,0.0,0,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,NaN,2000-10-31,MANU @ POR,5,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,0.000,19.0000,20.0

# Data Preprocessing

In [43]:
cr7.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'knockout_match', 'game_season', 'remaining_sec', 'distance_of_shot',
       'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'team_name',
       'date_of_game', 'home/away', 'shot_id_number', 'lat/lng',
       'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id',
       'remaining_min.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

In [44]:
cr7.describe()

,match_event_id,location_x,location_y,remaining_min,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,shot_id_number,match_id,team_id,remaining_min.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
count,29134.000000,30697.000000,30697.000000,29135.000000,29180.000000,30697.000000,30697.000000,30697.000000,24429.000000,30697.000000,3.069700e+04,3.069700e+04,29162.000000,29204.000000,29158.000000,29129.000000
mean,249.576028,7.032446,86.555299,4.883233,0.145956,7.418347,28.312278,33.448884,0.445331,15349.000000,2.476407e+07,1.610613e+09,18.204615,16.599402,39.027303,38.801852
std,150.186019,107.618516,87.733703,3.452533,0.353068,5.888841,17.011159,9.127368,0.497013,8861.604943,7.755175e+06,0.000000e+00,29.416973,35.172016,29.835284,18.787711
min,2.000000,-250.000000,-44.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000,1.000000,2.000001e+07,1.610613e+09,0.000000,0.000000,0.000000,9.400000
25%,111.000000,-59.000000,0.000000,2.000000,0.000000,2.000000,14.000000,26.000000,0.000000,7675.000000,2.050008e+07,1.610613e+09,3.000000,0.000000,17.000000,26.000000
50%,254.000000,0.000000,64.000000,5.000000,0.000000,7.000000,28.000000,34.000000,0.000000,15349.000000,2.090035e+07,1.610613e+09,6.000000,0.000000,35.000000,36.000000
75%,369.000000,90.000000,156.000000,8.000000,0.000000,11.000000,42.000000,40.000000,1.000000,23023.000000,2.960047e+07,1.610613e+09,11.000000,1.000000,52.000000,44.000000
max,659.000000,248.000000,791.000000,11.000000,1.000000,20.000000,59.000000,99.000000,1.000000,30697.000000,4.990009e+07,1.610613e+09,128.761600,141.352320,144.785600,115.728000

In [45]:
cr7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_event_id         29134 non-null  float64
 1   location_x             30697 non-null  float64
 2   location_y             30697 non-null  float64
 3   remaining_min          29135 non-null  float64
 4   knockout_match         29180 non-null  float64
 5   game_season            30697 non-null  int32
 6   remaining_sec          30697 non-null  float64
 7   distance_of_shot       30697 non-null  float64
 8   is_goal                24429 non-null  float64
 9   area_of_shot           29195 non-null  object
 10  shot_basics            29122 non-null  object
 11  range_of_shot          29133 non-null  object
 12  team_name              29162 non-null  object
 13  date_of_game           29147 non-null  datetime64[ns]
 14  home/away              29200 non-null  object
 15  shot_id_number         30697 non-null  int32
 16  lat/lng                29132 non-null  object
 17  type_of_shot           15417 non-null  object
 18  type_of_combined_shot  15280 non-null  object
 19  match_id               30697 non-null  int64
 20  team_id                30697 non-null  int64
 21  remaining_min.1        29162 non-null  float64
 22  knockout_match.1       29204 non-null  float64
 23  remaining_sec.1        29158 non-null  float64
 24  distance_of_shot.1     29129 non-null  float64
dtypes: datetime64[ns](1), float64(12), int32(2), int64(2), object(8)
memory usage: 5.6+ MB

In [46]:
##Percentage and sum of missing  data


missing_data = pd.DataFrame({'total_missing': cr7.isnull().sum(), 'per_missing': (cr7.isnull().sum() / cr7.shape[0]) * 100})
missing_data

                       total_missing  per_missing
match_event_id                  1563     5.091703
location_x                         0     0.000000
location_y                         0     0.000000
remaining_min                   1562     5.088445
knockout_match                  1517     4.941851
game_season                        0     0.000000
remaining_sec                      0     0.000000
distance_of_shot                   0     0.000000
is_goal                         6268    20.418933
area_of_shot                    1502     4.892986
shot_basics                     1575     5.130795
range_of_shot                   1564     5.094960
team_name                       1535     5.000489
date_of_game                    1550     5.049353
home/away                       1497     4.876698
shot_id_number                     0     0.000000
lat/lng                         1565     5.098218
type_of_shot                   15280    49.776851
type_of_combined_shot          15417    50.223149
match_id                           0     0.000000
team_id                            0     0.000000
remaining_min.1                 1535     5.000489
knockout_match.1                1493     4.863667
remaining_sec.1                 1539     5.013519
distance_of_shot.1              1568     5.107991

In [47]:
cr7.head()

,match_event_id,location_x,location_y,remaining_min,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,10.0,167.0,72.0,10.0,0.0,0,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,50.608,54.2000,38.0
1,12.0,-157.0,0.0,10.0,0.0,0,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,28.800,22.0000,35.0
2,35.0,-101.0,135.0,7.0,0.0,0,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,Manchester United,2000-10-31,NaN,3,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,0.000,63.7216,54.4
3,43.0,138.0,175.0,6.0,0.0,0,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,122.608,52.0000,42.0
4,155.0,0.0,0.0,NaN,0.0,0,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,NaN,2000-10-31,MANU @ POR,5,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,0.000,19.0000,20.0

In [48]:
print(cr7.columns)

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'knockout_match', 'game_season', 'remaining_sec', 'distance_of_shot',
       'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'team_name',
       'date_of_game', 'home/away', 'shot_id_number', 'lat/lng',
       'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id',
       'remaining_min.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

In [49]:
##droping column
print([col for col in cr7.columns if 'unnamed' in col.lower()])
print([col for col in cr7.columns if 'power_of' in col.lower()])

[]
[]

In [50]:
cr7.drop(cr7.filter(like='Unnamed:0').columns, axis=1, inplace=True)
cr7.drop(cr7.filter(like='power_of').columns, axis=1, inplace=True)

In [51]:
print([col for col in cr7.columns if 'Unnamed:0' in col])
print([col for col in cr7.columns if 'power_of.1' in col])

[]
[]

In [52]:
cr7.head()

,match_event_id,location_x,location_y,remaining_min,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,10.0,167.0,72.0,10.0,0.0,0,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,50.608,54.2000,38.0
1,12.0,-157.0,0.0,10.0,0.0,0,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,28.800,22.0000,35.0
2,35.0,-101.0,135.0,7.0,0.0,0,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,Manchester United,2000-10-31,NaN,3,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,0.000,63.7216,54.4
3,43.0,138.0,175.0,6.0,0.0,0,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,122.608,52.0000,42.0
4,155.0,0.0,0.0,NaN,0.0,0,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,NaN,2000-10-31,MANU @ POR,5,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,0.000,19.0000,20.0

In [53]:
cr7.info(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_event_id         29134 non-null  float64
 1   location_x             30697 non-null  float64
 2   location_y             30697 non-null  float64
 3   remaining_min          29135 non-null  float64
 4   knockout_match         29180 non-null  float64
 5   game_season            30697 non-null  int32
 6   remaining_sec          30697 non-null  float64
 7   distance_of_shot       30697 non-null  float64
 8   is_goal                24429 non-null  float64
 9   area_of_shot           29195 non-null  object
 10  shot_basics            29122 non-null  object
 11  range_of_shot          29133 non-null  object
 12  team_name              29162 non-null  object
 13  date_of_game           29147 non-null  datetime64[ns]
 14  home/away              29200 non-null  object
 15  shot_id_number         30697 non-null  int32
 16  lat/lng                29132 non-null  object
 17  type_of_shot           15417 non-null  object
 18  type_of_combined_shot  15280 non-null  object
 19  match_id               30697 non-null  int64
 20  team_id                30697 non-null  int64
 21  remaining_min.1        29162 non-null  float64
 22  knockout_match.1       29204 non-null  float64
 23  remaining_sec.1        29158 non-null  float64
 24  distance_of_shot.1     29129 non-null  float64
dtypes: datetime64[ns](1), float64(12), int32(2), int64(2), object(8)
memory usage: 5.6+ MB

In [54]:
##converting into datetime
cr7.date_of_game = pd.to_datetime(cr7.date_of_game,errors='coerce')

In [55]:
#label encoding
l_unique = cr7['game_season'].unique()
l_unique

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [56]:
v_unique = np.arange(len(l_unique))
v_unique

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [57]:
cr7['game_season'].replace(to_replace=l_unique,value=v_unique,inplace=True)

In [58]:
cr7['game_season'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

## Handling missing values

In [59]:
##filling power_of_shot missing vlue with hean
cr7['distance_of_shot'].fillna(value=cr7['distance_of_shot'].mean(), inplace=True)

In [60]:
cr7.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [61]:
#filling type_of_combined_shot with MODE
mode_com = cr7.type_of_combined_shot.value_counts().keys()[0]
print('mode is :', mode_com)

mode is : shot - 3

In [62]:
cr7.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [63]:
##filling remaining second with MEDIAN
cr7.remaining_sec.fillna(value=cr7.remaining_sec.median(), inplace=True)

In [64]:
##short id eno
cr7.shot_id_number = pd.Series(np.arange(1,cr7.shot_id_number.shape[0]+1))
cr7.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [65]:
##filling location and locationy
cr7['location_x'].fillna(value=0,inplace=True)
cr7['location_y'].fillna(value=0,inplace=True)
cr7.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [67]:
#using forward filling method
print('Null value in column home/away before forward fill:',cr7['home/away'].isnull().sum() )
col = ['home/away','lat/lng','team_name','match_id','match_event_id','team_id','remaining_min','knockout_match']
cr7.loc[:,col] = cr7.loc[:,col].ffill()
print('Null value in column home/away after forward fill:',cr7['home/away'].isnull().sum() )

Null value in column home/away before forward fill: 1497
Null value in column home/away after forward fill: 0

In [68]:
cr7.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [69]:
cr7.shot_basics.unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', nan,
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [70]:
cr7.columns

Index(['match_event_id', 'location_x', 'location_y', 'remaining_min',
       'knockout_match', 'game_season', 'remaining_sec', 'distance_of_shot',
       'is_goal', 'area_of_shot', 'shot_basics', 'range_of_shot', 'team_name',
       'date_of_game', 'home/away', 'shot_id_number', 'lat/lng',
       'type_of_shot', 'type_of_combined_shot', 'match_id', 'team_id',
       'remaining_min.1', 'knockout_match.1', 'remaining_sec.1',
       'distance_of_shot.1'],
      dtype='object')

In [72]:
cr7['range_of_shot'].unique()

array(['16-24 ft.', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', nan,
       'Back Court Shot'], dtype=object)

In [73]:
cr7.loc[(cr7.range_of_shot == '16-24 ft.'),'shot_basics']

0        Mid Range
2        Mid Range
3        Mid Range
11       Mid Range
15       Mid Range
           ...
30668          NaN
30669    Mid Range
30677    Mid Range
30683    Mid Range
30694    Mid Range
Name: shot_basics, Length: 7892, dtype: object

In [94]:
# Filling missing values in the 'shot_basics' column based on the 'range_of_shot' value
# Filling missing values in the 'shot_basics' column based on the 'range_of_shot' value
cr7.loc[(cr7['range_of_shot'] == '16-24 ft.') & (cr7['shot_basics'].isnull()), 'shot_basics'] = 'Mid Range'

mask = (cr7['range_of_shot'] == 'Less Than 8 ft.') & (cr7['shot_basics'].isnull())
choices_lt_8ft = ['Goal Area', 'Goal Line']
probabilities_lt_8ft = [0.75, 0.25]
cr7.loc[mask, 'shot_basics'] = cr7.loc[mask, 'shot_basics'].apply(lambda x: np.random.choice(choices_lt_8ft, p=probabilities_lt_8ft) if pd.isnull(x) else x)

mask = (cr7['range_of_shot'] == '8-16 ft.') & (cr7['shot_basics'].isnull())
choices_8_16ft = ['Mid Range', 'Goal Line']
probabilities_8_16ft = [0.65, 0.35]
cr7.loc[mask, 'shot_basics'] = cr7.loc[mask, 'shot_basics'].apply(lambda x: np.random.choice(choices_8_16ft, p=probabilities_8_16ft) if pd.isnull(x) else x)

mask = (cr7['range_of_shot'] == '24+ ft.') & (cr7['shot_basics'].isnull())
choices_24ft = ['Penalty spot', 'Right Corner', 'Left Corner']
probabilities_24ft = [0.987, 0.007, 0.006]
cr7.loc[mask, 'shot_basics'] = cr7.loc[mask, 'shot_basics'].apply(lambda x: np.random.choice(choices_24ft, p=probabilities_24ft) if pd.isnull(x) else x)

mask = (cr7['range_of_shot'] == 'Back Court Shot') & (cr7['shot_basics'].isnull())
choices_back_court = ['Mid Ground Line', 'Penalty Spot']
probabilities_back_court = [0.85, 0.15]
cr7.loc[mask, 'shot_basics'] = cr7.loc[mask, 'shot_basics'].apply(lambda x: np.random.choice(choices_back_court, p=probabilities_back_court) if pd.isnull(x) else x)

# Display the summary of missing values after filling
na_summary = cr7.isnull().sum()
print(na_summary)

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics                 66
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [95]:
##filling missing values if both have nan
cr7.shot_basics.fillna(method='ffill',inplace=True)
cr7.range_of_shot.fillna(method='ffill',inplace=True)
cr7.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot              1502
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [97]:
##filling missing value in area of shot
cr7.area_of_shot.fillna(value='Center(C)', inplace=True)

cr7.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64

In [98]:
cr7['distance_of_shot']

0        38.0
1        35.0
2        36.0
3        42.0
4        20.0
         ...
30692    24.0
30693    20.0
30694    41.0
30695    46.0
30696    27.0
Name: distance_of_shot, Length: 30697, dtype: float64

In [100]:
##filling distance of shot missing value
cr7.loc[cr7['distance_of_shot'].isnull(),'distance_of_shot'] = pd.Series(cr7.loc[cr7['distance_of_shot'].isnull(),'distance_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice([20,45,44,37],1,p=[0.5278056615137523,0.18630797028709095,0.14384661714515157,0.1420397510540052])[0]))

In [108]:
cr7.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
remaining_min.1           1535
knockout_match.1          1493
remaining_sec.1           1539
distance_of_shot.1        1568
dtype: int64